# Ignore virtual environments
.venv/
venv/
env/
myenv/
venv*

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables / secrets
.env
keyfile

# Ignore large databases
*.db
*.sqlite3

# Ignore datasets
*.csv
*[Dd]ataset*.txt

# Ignore dataset and training-output logs
8.txt
9.txt
comments.txt
Loaded stored embeddings.txt
home polaznik Documents.txt
